---
import Sun from '../components/Sun';
import Moon from '../components/Moon';
---

<!DOCTYPE html>
<html id='html' lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>jaxoco &#x2022; home</title>
	</head>
	<body
		class='bg-neutral-50 dark:bg-zinc-800 dark:text-neutral-100 container max-w-3xl p-5 mx-auto'
	>
		<header class='mb-3'>
			<h1 class='text-2xl font-bold'>jaxoco</h1>
		</header>
		<nav class='flex flex-col mb-3'>
			<div class='flex justify-between items-center'>
				<ul class='flex gap-x-3 text-indigo-500 font-semibold'>
					<a href='/'>
						<li>Home</li>
					</a>
					<a href='/blog'>
						<li>Blog</li>
					</a>
					<a href='https://github.com/jaysonacosta'>
						<li>GitHub</li>
					</a>
					<a href='mailto:jaysonacosta540@gmail.com'>
						<li>Email</li>
					</a>
				</ul>
				<button id='toggle-dark-theme-button' style='display: none;'
					><Moon /></button
				>
				<button id='toggle-light-theme-button' style='display: none;'
					><Sun /></button
				>
			</div>
		</nav>

		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
</style>

<script>
	const html = document.getElementById('html');
	const toggleLightThemeButton = document.getElementById(
		'toggle-light-theme-button'
	);
	const toggleDarkThemeButton = document.getElementById(
		'toggle-dark-theme-button'
	);
	const themeAtMount = localStorage.getItem('theme');

	const themeMount = () => {
		if (themeAtMount && toggleLightThemeButton && toggleDarkThemeButton) {
			if (themeAtMount === 'light') {
				setLightMode();
				toggleLightThemeButton.style.display = 'none';
				toggleDarkThemeButton.style.display = 'initial';
			} else {
				setDarkMode();
				toggleDarkThemeButton.style.display = 'none';
				toggleLightThemeButton.style.display = 'initial';
			}
		}
	};

	const switchTheme = () => {
		const theme = localStorage.getItem('theme');
		if (theme && toggleLightThemeButton && toggleDarkThemeButton) {
			if (theme === 'light') {
				setDarkMode();
				toggleLightThemeButton.style.display = 'initial';
				toggleDarkThemeButton.style.display = 'none';
			} else {
				setLightMode();
				toggleLightThemeButton.style.display = 'none';
				toggleDarkThemeButton.style.display = 'initial';
			}
		}
	};

	const setDarkMode = () => {
		localStorage.setItem('theme', 'dark');
		if (html) {
			html.className = 'dark';
		}
	};

	const setLightMode = () => {
		localStorage.setItem('theme', 'light');
		if (html) {
			html.className = '';
		}
	};

	themeMount();

	const toggleTheme = () => {
		if (html) {
			switchTheme();
		}
	};

	if (toggleDarkThemeButton && toggleLightThemeButton) {
		toggleDarkThemeButton.addEventListener('click', toggleTheme);
		toggleLightThemeButton.addEventListener('click', toggleTheme);
	}
</script>
